h1,
h2,
h3,
h4 {
  color: #333;
}
button {
  padding: 10px 30px;
  background: #f8a035;
  color: #fff;
  border: none;
}
input {
  display: block;
  margin: 0 0 15px 0;
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
}

/* .TodoList {
  list-style: none;
  text-decoration: none;
  margin-left: 60px;
} */
